.navbar {
  box-shadow: 0 0 9px 1px rgba(27, 27, 27, 0.6);
  font-family: "Noto Sans", sans-serif;
  z-index: 3;
  background-color: #141618;
}
.navbar .logo {
  margin-right: 10px;
}
.collapse.show {
  position: relative;
  z-index: 3;
}

.navtop {
  background-color: transparent;
  z-index: 3;
  padding: 0 16;
  height: 25px;
  background: url(https://www.boostroyal.com/assets/images/new/hero-bg-lux2.jpg)
    top center fixed no-repeat;
}

.section_top {
  position: relative;
  z-index: 2;
  top: -113px;
  height: 580px;
}

.section_top .container_title {
  position: absolute;
  top: 190px;
  width: 495px;
  font-family: "Noto Sans", sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  margin: 0 auto 0;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}
.orange {
  display: inline-block;
  width: auto;
  height: 50px;
  box-shadow: 0 0 9px 1px rgba(27, 27, 27, 0.6);
  background: linear-gradient(90deg, #ff9155 0, #d54e4e);
  border-radius: 3px 4px 4px 3px;
  border-left: 1px solid #979797;
  margin-left: 30px;
  position: relative;
  color: #fff;
  line-height: 50px;
  padding: 0 10px;
}

.orange:before {
  content: "";
  position: absolute;
  display: block;
  left: -26px;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid #ff9155;
}

.orange:after {
  content: "";
  background-color: #fff;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  left: -9px;
  top: 22px;
}

.subtitle {
  position: absolute;
  top: 340px;
  font-family: "Noto Sans", sans-serif;
  color: hsla(0, 0%, 100%, 0.8);
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  font-size: 1.2em;
  z-index: 2;
  margin: 36px 0;
  font-weight: 400;
}
/* ======================================= */

.link_group {
  position: absolute;
  bottom: 30px;
}
.link_group a {
  margin-right: 10px;
  padding: 10px 20px;
}
.hide_menu {
  opacity: 0;
  right: 0;
  position: absolute;
  top: -20px;
  max-width: 0;
  height: 100vh;
  transition: 0.5s linear;
}

.hide_menu li {
  display: none;
}
.hide_menu ul {
  width: 0;
  padding: 0;
  margin: 0;
}

.show_menu {
  opacity: 1;
  position: absolute;
  top: -20px;
  right: 0;
  display: block;
  max-width: 1000px;
  height: 100vh;
  background: #141618;
  z-index: 5;
  transition: 1s linear;
}

.show_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 85px;
  color: #ffffff;
}

.show_menu ul li {
  padding: 8px 0 8px 10px;
  border-left: 3px solid #141618;
}
.show_menu ul li:hover {
  background: #2b2e30;
  border-left: 3px solid #ef7752;
  transition: 0.5s;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 10px;
  height: 20px;
  color: #ffffff;
  cursor: pointer;
  padding: 1px;
}
.close:hover {
  color: #ffffff;
}

.lorem {
  padding: 10px;
}

@media only screen and (max-width: 576px) {
  .navtop,
  .block {
    background-image: url(https://www.boostroyal.com/assets/images/new/hero-bg-lux-m.jpg)
      center center no-repeat;
    background-attachment: fixed;
  }
}

@media only screen and (max-width: 1400px) {
  .show_menu {
    width: 500px;
    transition: 0.5s;
  }
}

@media only screen and (max-width: 576px) {
  .show_menu {
    width: 250px;
    transition: 0.5s;
  }
}
